@import (reference) "../../themes/variables";

.ad-desktop {
  overflow: visible;
  position: relative;
  cursor: pointer;
  &-start {
    position: absolute;
    top: @row-height;
    right: 100%;
    z-index: @desktop-z-index;
    background: @item-background;
    min-width: 500px;
    min-height: 300px;
    cursor: default;
    opacity: 0;
    transition: all .3s;
  }
  &-start.active {
    left: 0;
    opacity: 1;
  }
}